# MacOS系统的文件
.DS_Store

# 项目Node模块缓存
node_modules

# 构建生成的站点
/dist

# 本地变量文件
.env.local
.env.*.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# VsCode的VS Code Counter插件目录
.VSCodeCounter
